{
    "parser": "babel-eslint",
    "plugins": [
        "react",
    ],
    "extends": [
        "airbnb",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        "comma-dangle": ["error", "never"]
    }
}
